.form {
  display: flex;
  flex-direction: column;
  background-color: #525174;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
  width: 50vw;
  border-radius: 10px;
  color: #BDADEA;
}

.option {
  padding-right: 20px;
}

th, td {
  padding: 10px;
}